.minesweeper-screen {
  background-image: url(https://fiverr-res.cloudinary.com/images/q_auto,f_auto/gigs/146464531/original/8c5628fb166d24655c9c1b87ef1d403c2a7f8f24/create-vector-2d-game-background-for-your-game.png);
  background-repeat: none;
  background-size: cover;
}

.minesweeper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  justify-content: center;
  height: screen;

}

.board {
  border: 2px solid #333;
  background: #1717173e;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
}

.cell {
  width: 60px;
  height: 60px;
  border: 2px solid #392a01;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  background: #535353;
  box-shadow:inset 6px 6px 12px 3px #656565;
  
}

.cell.revealed {
  background: transparent;
  box-shadow: none;
}

.status {
  margin-top: 20px;
  font-size: 24px;
  text-align: center;
}

button {
  /* margin-top: 10px; */
  padding: 8px 16px;
  font-size: 28px;
  font-weight: bolder;
  color: #fffbfb;
  cursor: pointer;
  -webkit-text-stroke: 0.5px black;
  text-shadow: 2px 2px 6px #2b2b2b;
}